        <h3> events List </h3>                      
        </table>
        <table class="table table-dark">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">speakername</th>
                    <th scope="col">Others</th>
                    </tr>
                </thead>
                <tbody>
                        <% events.forEach((event)=>{%>
                            <tr>
                                <td><%=event._id%></td>
                                <td><%=event.title%></td>
                                <td><%=event.mainSpeaker.fullName%></td>
                                <td>
                                    <ul>
                                        <%event.others.forEach((speaker)=>{%>
                                            <li><%=speaker.fullName%></li>
                                        <%})%>
                                    </ul>
                                </td>
                                <td>
                                        <a class="btn btn-primary" href="/events/edit/<%=event._id%>">Edit</a>
                                        <a class="btn btn-danger" href="/events/delete/<%=event._id%>">Delete</a>
                                </td>
                            </tr>
                        <%})%>    
                </tbody>
                </table>
        <br/>
