<h3> events List </h3>                      
</table>
<table class="table table-dark">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">speakername</th>
            <th scope="col">Others</th>
            </tr>
        </thead>
        <tbody>
                <% events.forEach((event)=>{%>
                    <tr>
                        <td><%=event._id%></td>
                        <td><%=event.title%></td>
                        <td><%=event.%></td>
                        <td><%=event.mainSpeaker.Name%></td>
                        <td>
                            <ul>
                                <%event.others.forEach((speaker)=>{%>
                                    <li><%=speaker.Name%></li>
                                <%})%>
                            </ul>
                        </td>
                    </tr>
                <%})%>    
        </tbody>
        </table>
<br/>
